@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-2xl;
  @apply text-gray-300;
  @apply bg-sidebar-background;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

:root {
  --customgreys-primarybg: #1b1c22;
  --customgreys-secondarybg: #25262f;
  --customgreys-darkGrey: #17181d;
  --customgreys-darkerGrey: #3d3d3d;
  --customgreys-dirtyGrey: #6e6e6e;

  --colors-primary-50: #fdfdff;
  --colors-primary-100: #f7f7ff;
  --colors-primary-200: #ececff;
  --colors-primary-300: #ddddfe;
  --colors-primary-400: #cacafe;
  --colors-primary-500: #b3b3fd;
  --colors-primary-600: #9898fd;
  --colors-primary-700: #7878fc;
  --colors-primary-750: #5a5be6;
  --colors-primary-800: #0404be;
  --colors-primary-900: #020255;
  --colors-primary-950: #010132;
  --colors-primary-DEFAULT: #7878fc;
  --colors-primary-foreground: #7878fc;

  --colors-secondary-50: #fcfefe;
  --colors-secondary-100: #f3fbfa;
  --colors-secondary-200: #e5f7f4;
  --colors-secondary-300: #d0f1ec;
  --colors-secondary-400: #b6e9e1;
  --colors-secondary-500: #96dfd4;
  --colors-secondary-600: #70d3c4;
  --colors-secondary-700: #44c5b2;
  --colors-secondary-800: #227064;
  --colors-secondary-900: #123933;
  --colors-secondary-950: #0c2723;
  --colors-secondary-DEFAULT: #7878fc;
  --colors-secondary-foreground: #7878fc;

  --colors-white-50: #d2d2d2;
  --colors-white-100: #ffffff;
  /* --tertiary-50: #  ; */
}

@theme inline {
  --color-sidebar-background: var(--customgreys-primarybg);
  --color-sidebar-foreground: var(--colors-white-50);
  --color-sidebar-primary: var(--colors-primary-700);
  --color-sidebar-primary-foreground: var(--colors-white-50);
  --color-sidebar-accent: var(--colors-customgreys-darkerGrey);
  --color-sidebar-accent-foreground: var(--colors-customgreys-dirtyGrey);
  --color-sidebar-border: var(--colors-customgreys-secondarybg);
  --color-sidebar-ring: var(--colors-primary-700);
  --color-popover: var(--colors-customgreys-primarybg);
  --color-popover-foreground: var(--colors-white-50);
  --color-background: var(--colors-customgreys-primarybg);
  --color-foreground: var(--colors-white-50);
  --color-primary: var(--colors-primary-700);
  --color-primary-foreground: var(--colors-white-50);
  --color-muted: var(--colors-primary-600);
  --color-muted-foreground: var(--colors-customgreys-dirtyGrey);
  --color-accent: var(--colors-primary-600);
  --color-accent-foreground: var(--colors-white-50);
  --color-border: var(--colors-customgreys-secondarybg);
  --color-ring: var(--colors-primary-700);
  --color-card: var(--colors-customgreys-primarybg);
  --color-card-foreground: var(--colors-white-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-sidebar-background: var(--customgreys-primarybg);
    --color-sidebar-foreground: var(--colors-white-50);
    --color-sidebar-primary: var(--colors-primary-700);
    --color-sidebar-primary-foreground: var(--colors-white-50);
    --color-sidebar-accent: var(--customgreys-darkerGrey);
    --color-sidebar-accent-foreground: var(--customgreys-dirtyGrey);
    --color-sidebar-border: var(--customgreys-secondarybg);
    --color-sidebar-ring: var(--colors-primary-700);
    --color-popover: var(--customgreys-primarybg);
    --color-popover-foreground: var(--colors-white-50);
    --color-background: var(--customgreys-primarybg);
    --color-foreground: var(--colors-white-50);
    --color-primary: var(--colors-primary-700);
    --color-primary-foreground: var(--colors-white-50);
    --color-muted: var(--colors-primary-600);
    --color-muted-foreground: var(--customgreys-dirtyGrey);
    --color-accent: var(--colors-primary-600);
    --color-accent-foreground: var(--colors-white-50);
    --color-border: var(--customgreys-secondarybg);
    --color-ring: var(--colors-primary-700);
    --color-card: var(--customgreys-primarybg);
    --color-card-foreground: var(--colors-white-50);
  }
}

